src/test/resources/datasets/database.dtd

<!ELEMENT dataset (BOOK|EXPERT|RECOMMENDATIONS)*>
<!ELEMENT BOOK (#PCDATA)>
<!ATTLIST BOOK
        author CDATA #REQUIRED
        id CDATA #REQUIRED
        name CDATA #REQUIRED>
<!ELEMENT EXPERT (#PCDATA)>
<!ATTLIST EXPERT
        id CDATA #REQUIRED
        name CDATA #REQUIRED
        contact CDATA #REQUIRED>
<!ELEMENT RECOMMENDATIONS (#PCDATA)>
<!ATTLIST RECOMMENDATIONS
        expert_id CDATA #REQUIRED
        book_id CDATA #REQUIRED>