src/test/resources/datasets/database.dtd

<!ELEMENT dataset (
    book*,
    expert*,
    recommendations*)>

<!ELEMENT book EMPTY>
<!ATTLIST book
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    author CDATA #REQUIRED
>

<!ELEMENT expert EMPTY>
<!ATTLIST expert
    id CDATA #REQUIRED
    name CDATA #REQUIRED
    contact CDATA #REQUIRED
>

<!ELEMENT recommendations EMPTY>
<!ATTLIST recommendations
    expert_id CDATA #REQUIRED
    book_id CDATA #REQUIRED
>

