src/test/resources/datasets/database.dtd

<!ELEMENT dataset (
    EXPERT*,
    RECOMMENDATIONS*,
    BOOK*)>

<!ELEMENT EXPERT EMPTY>
<!ATTLIST EXPERT
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    CONTACT CDATA #REQUIRED
>

<!ELEMENT RECOMMENDATIONS EMPTY>
<!ATTLIST RECOMMENDATIONS
    EXPERT_ID CDATA #REQUIRED
    BOOK_ID CDATA #REQUIRED
>

<!ELEMENT BOOK EMPTY>
<!ATTLIST BOOK
    ID CDATA #IMPLIED
    NAME CDATA #REQUIRED
    AUTHOR CDATA #REQUIRED
>

